div {
    width: 40%;
    height: 40%;
    position: relative;
    animation: myfirst 5s 2;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  @keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    25%  {left: 300px; top: 0px;}
    50%  {left: 300px; top: 300px;}
    75%  {left: 0px; top: 300px;}
    100% {left: 0px; top: 0px;}
  }